<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ヘルプ</title>
</head>
<style>
    .sort{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .center{
        text-align: center;
    }

    body{
            background-color: #ffffe0;
        }
</style>
<body>
    <h2 style="text-align: center";">現在対応している漢字一覧です</h2>
    <div class="sort">
        {% for kanji, busyu in list_data.items() %}
            {{ kanji }}{{ '\n' if loop.index is divisibleby 10 else ' ' }}
        {% endfor %}
    </div>
    <div class="center">
        <button type="button" onclick="location.href='/'" value="ホーム"> ホームに戻る </button>
    </div>
</body>
</html>
