<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ヘルプ</title>
</head>
<style>
    .sort{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
</style>
<body>
    <h2 style="text-align: center";">現在対応している漢字一覧です</h2>
    <div class="sort">
        {% for kanji, busyu in list_data.items() %}
            <h5>{{ kanji }}</h5>
            {% if loop.index % 10 == 0%}
                <br>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
