<html>
<head>
</head>
<body>
    <h1>小学校で習う常用漢字を入力してください</h1>
    <h6>※部首はgoo辞書参考</h6>
    <form action="/kanji/knpy" method="post">
        <label for="user_input">漢字を入力:</label>
        <input type="text" id="user_input" name="user_input" required>
        <button type="submit">結果</button>
    </form>

    {% if result %}
    {% for kanji in result %}
    {% set my_dict = kanji %}
    <h2>Result: {{ my_dict.keys() | first }}: {{ my_dict[my_dict.keys() | first] | first }}</h2>
    {% endfor %}
    {% endif %}
</body>
</html>